<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>





<body>

    <section class="wrapper">

        <form class="inputArea" action="/addItem" method="post">

            <input class="input" type="text">
            <button type="submit">Add todo</button>
        </form>

        <div class="container">

            {{#todos}}
            <section>
                <form action="/complete" method="post">
                    <button type="submit" name="removeButton" value="{{todo}}"> Mark Complete </button> {{todo}}
                </form>
            </section>
            {{/todos}}



        </div>

        <div class="completed">

            {{#finished}}
            <div>
                {{.}}
            </div>
            {{/finished}}

        </div>



    </section>

</body>

</html>