<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>





<body>

    <section class="wrapper">

        <div class="input">

            <input type="text"> <span>Add todo</span>

        </div>

        <div class="container">

            <div class="returnItem">
                <span>Mark Complete</span>
                <div class="todo">Do all the Things</div>
            </div>
            <div class="returnItem">
                <span>Mark Complete</span>
                <div class="todo">Do all the Things</div>
            </div>
            <div class="returnItem">
                <span>Mark Complete</span>
                <div class="todo">Do all the Things</div>
            </div>

        </div>



    </section>

</body>

</html>